.background
{
    background: no-repeat center fixed;
    background-size: cover;
}

.create_panel
{
    width: 45vw;
    height: 70%;
    position: absolute;
    left: 27.5%;
    top: 10%;
    border: solid 1px black;
    border-radius: 1vw;
    background-color: rgba(22, 21, 21, 0.24);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.create_header
{
    width: 55%;
    height: 5%;
    position: absolute;
    top: -1.75%;
    left: 58%;
    font-size: 3.5vw;
    margin: 0;
    color: var(--pink-base);
    text-shadow: 1px 1px 22px var(--pink-color), -1px -1px 22px var(--pink-color),
        1px -1px 22px var(--pink-color), -1px 1px 22px var(--pink-color),
        0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color), 0px 0px 4px var(--pink-color);
}

.create_header_border
{
    width: 42.5%;
    height: 7.5%;
    position: absolute;
    top: 0.75%;
    left: 56.75%;
    border: solid 1px black;
    border-radius: 0.7vw;
}

.search_div
{
    width: 95%;
    height: 45%;
    position: absolute;
    left: 5%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.search_input
{
    width: 88%;
    height: 8.5%;
    position: relative;
    top: -4.5%;
    left: 2%;
    outline: none;
    flex: none;
    color: var(--pink-base);
    background-color: rgb(54, 51, 51);
    border: solid 1px var(--pink-base);
    border-radius: 1vw;
    padding-left: 1%;
}

.search_button
{
    background-image: url('/svg/magnifying.svg');
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    width: 7%;
    height: 10%;
    position: absolute;
    left: 92.5%;
    top: -4%;
    border: none;
}

.search_button:hover
{
    cursor: pointer;
}

.search_list
{
    background: linear-gradient(0deg, rgba(34,34,34,0.8) 0%, rgba(34,34,34,0.5) 50%, rgba(34,34,34,0.2) 100%);
    width: 90%;
    height: 90%;
    position: relative;
    left: 2%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.search_list::-webkit-scrollbar
{
    display: none;
}

.search_list_header
{
    width: 85.5%;
    height: 5%;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20%;
    z-index: 2;
    position: fixed;
}

.search_list_header  label
{
    color: var(--pink-color);
    position: relative;
    left: 2%;
    font-size: 1vw;
}

.search_list_header label:last-child
{
    color: rgb(102, 96, 96);
    font-size: 0.75vw;
    left: 1%;
}

.search_list_item
{
    width: calc(100% - 2px);
    height: 12.5%;
    border: solid 1px black;
    position: relative;
    top: 12.5%;
    flex-grow: 0;
    flex-shrink: 0;
}

.search_list_item  label
{
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    max-width: 20%;
    top: 15%;
    left: 30%;
    font-size: 0.9vw;
}

.search_list_item label:first-child
{
    left: 2% !important;
}

.search_list_item label:last-child
{
    left: 56% !important;
}

.search_list_item_checked
{
    color: var(--pink-base) !important;
    text-shadow: 1px 1px 10px var(--pink-color), -1px -1px 10px var(--pink-color),
        1px -1px 10px var(--pink-color), -1px 1px 10px var(--pink-color),
        0px 0px 1px var(--pink-color), 0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color);
}

.wrapper
{
    position: relative;
    top: 2.5%;
}

.checkbox
{
    position: absolute;
    left: 90%;
    accent-color: var(--pink-color);
}

.error
{
    color: rgb(232, 22, 22);
    position: absolute;
    top: 80%;
    left: 8%;
    transition: opacity 1s ease;
    font-size: 1vw;
}