.wrapper
{
    display: inline-block;
    width: 20vw;
    height: 44vh;
    position: absolute;
    left: 5.5vw;
    top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px black;
    border-radius: 1vw;
    background-color: var(--pink-drop);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.day
{
    font-size: 0.75vw;
    position: absolute;
    top: 6%;
    left: 86%;
    color: var(--pink-base);
    text-shadow: 1px 1px 22px var(--pink-color), -1px -1px 22px var(--pink-color),
        1px -1px 22px var(--pink-color), -1px 1px 22px var(--pink-color),
        0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color), 0px 0px 4px var(--pink-color);
}

.time
{
    font-size: 1.5vw;
    position: absolute;
    top: 1%;
    left: 72%;
    color: var(--pink-base);
    text-shadow: 1px 1px 22px var(--pink-color), -1px -1px 22px var(--pink-color),
        1px -1px 22px var(--pink-color), -1px 1px 22px var(--pink-color),
        0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color), 0px 0px 4px var(--pink-color);
}

.animation_wrapper
{
    width: 125%;
    height: 60%;
    position: absolute;
    top: 15%;
    left: 21%;
}

.animation
{
    width: 100%;
    height: 100%;
}

.description
{
    font-size: 1.25vw;
    position: relative;
    top: 65%;
    color: var(--pink-base);
    text-shadow: 1px 1px 22px var(--pink-color), -1px -1px 22px var(--pink-color),
        1px -1px 22px var(--pink-color), -1px 1px 22px var(--pink-color),
        0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color), 0px 0px 4px var(--pink-color);
}

.description_after
{
    background-color: rgb(22, 21, 21);
    position: absolute;
    top: 79%;
    left: 10%;
    width: 80%;
    height: 0.5%;
    border-radius: 1vw;
    visibility: visible;
}

.temperature
{
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    color: var(--pink-base);
    text-shadow: 1px 1px 22px var(--pink-color), -1px -1px 22px var(--pink-color),
        1px -1px 22px var(--pink-color), -1px 1px 22px var(--pink-color),
        0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color), 0px 0px 4px var(--pink-color);
}

.temperature_unit
{
    font-size: 0.7vw;
    color: var(--pink-base);
    text-shadow: none;
    position: absolute;
    top: 5%;
    left: 75%;
}

.eyeball
{
    position: absolute;
    top: 85%;
    left: 47%;
    width: 5%;
    height: 5%;
    padding-inline: 1%;
    border-radius: 0.25vw;
    border: solid 1px rgb(184, 165, 165);
    background-color: rgb(13, 13, 13);
}

.visibility
{
    color: rgb(167, 160, 151);
    font-size: 0.75vw;
    position: absolute;
    top: 91%;
    left: 47%;
}

.sunrise
{
    font-size: 0.75vw;
    position: absolute;
    top: 81.5%;
    left: 75%;
    padding-inline: 1%;
    border-radius: 0.25vw;
    border: solid 1px rgb(184, 165, 165);
    background-color: rgb(13, 13, 13);
    color: var(--pink-base);
    text-shadow: 1px 1px 22px var(--pink-color), -1px -1px 22px var(--pink-color),
        1px -1px 22px var(--pink-color), -1px 1px 22px var(--pink-color),
        0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color), 0px 0px 4px var(--pink-color);
}

.sunset
{
    font-size: 0.75vw;
    position: absolute;
    top: 86.5%;
    left: 75%;
    padding-inline: 1%;
    border-radius: 0.25vw;
    border: solid 1px rgb(184, 165, 165);
    background-color: rgb(13, 13, 13);
    color: var(--pink-base);
    text-shadow: 1px 1px 22px var(--pink-color), -1px -1px 22px var(--pink-color),
        1px -1px 22px var(--pink-color), -1px 1px 22px var(--pink-color),
        0px 0px 2px var(--pink-color), 0px 0px 3px var(--pink-color), 0px 0px 4px var(--pink-color);
}

.sunrise::before
{
    content: 'Sunrise: ';
    color: rgb(167, 160, 151);
    text-shadow: none;
    position: absolute;
    top: -5%;
    left: -2.5vw;
}

.sunset::after
{
    content: 'Sunset: ';
    color: rgb(167, 160, 151);
    text-shadow: none;
    position: absolute;
    top: -5%;
    left: -2.5vw;
}