.wrapper
{
    display: inline-block;
    width: 68vw;
    height: 45vh;
    position: relative;
    left: 7vw;
    top: 2.5vh;
    border: solid 1px black;
    border-radius: 1vw;
    background-color: rgba(22, 21, 21, 0.24);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}