.wrapper
{
    display: inline-block;
    width: 69.75vw;
    height: 44vh;
    position: relative;
    left: 5.25vw;
    top: 7vh;
    border: solid 1px black;
    border-radius: 1vw;
    background-color: rgba(22, 21, 21, 0.24);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}